In [1]:
'hello'

'hello'

In [2]:
"world"

'world'

In [4]:
'this is also a  string'

'this is also a  string'

In [5]:
' I'm going on a run'

SyntaxError: invalid syntax (<ipython-input-5-47ed2ead564e>, line 1)

Error due to string, must be wrapped in double quotes and not single due to single use quote in "I'm"

In [6]:
" I'm going on a run "

" I'm going on a run "

In [7]:
print("hello")

hello

In [8]:
"hello world one"
"hello world two"

'hello world two'

In [9]:
print("hello world one")
print("hello world two")

hello world one
hello world two

use "print to see both, otherwise only bottom will be seen

In [10]:
print('hello world')

hello world

In [11]:
print('hello \n world')

hello
 world

In [12]:
print('hello \nworld')

hello
world

\n spaces within the string

In [13]:
print('hello \tworld')

hello 	world

\t is "tab" and adds 4 spaces

In [14]:
len('hello')

5

In [15]:
len('I am')

4

len = length determines the amount